body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(118, 113, 113);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board {
  text-align: center;
  margin: auto;
}

.board-row {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0.2rem;
  height: 7rem;
  width: 7rem;
  font-size: 4rem;
  background-color: #612323;
  border-radius: 0.25rem;
  color: white;
}

.btngroup {
  margin: 0.25rem;
  height: 3rem;
  width: 4rem;
  font-size: 1rem;
  background-color: #612323;
  border-radius: 0.25rem;
  color: white;
}

.btngroup:hover {
  background-color: rgb(104, 55, 64);
}

.App {
  width: 80%;
  margin: auto;
}

.header {
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px 4px #bbb;
}

.hide {
  display: none;
}
